<h1>Listing ss_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ss_types.each do |ss_type| %>
  <tr>
    <td><%= ss_type.name %></td>
    <td><%= link_to 'Show', ss_type %></td>
    <td><%= link_to 'Edit', edit_ss_type_path(ss_type) %></td>
    <td><%= link_to 'Destroy', ss_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ss type', new_ss_type_path %>
