<%= form_for(@appropriation) do |f| %>
  <% if @appropriation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appropriation.errors.count, "error") %> prohibited this appropriation from being saved:</h2>

      <ul>
      <% @appropriation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.text_field :time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
