<h1>Listing appropriations</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @appropriations.each do |appropriation| %>
  <tr>
    <td><%= appropriation.date %></td>
    <td><%= appropriation.time %></td>
    <td><%= link_to 'Show', appropriation %></td>
    <td><%= link_to 'Edit', edit_appropriation_path(appropriation) %></td>
    <td><%= link_to 'Destroy', appropriation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Appropriation', new_appropriation_path %>
